#datetime-picker {
  max-width: 280px;

  &:disabled {
    color: #cfcfcf;
    border-color: #cfcfcf;
    pointer-events: none;
  }
}

.timer {
  display: flex;
  gap: 24px;
  justify-content: center;
}

.field {
  display: flex;
  flex-direction: column;
}

.field .value {
  font-weight: 400;
  font-size: 40px;

  /* line-height: 48px; */
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.my-toast .iziToast-close {
  background-image: url('../img/close.svg') !important;
  background-size: 16px 16px !important;
  background-position: center !important;
  right: -20px !important;
}

.my-toast .iziToast-close:before {
  display: none !important;
}
